<h1>Edit program: {{ program.title }}</h1>
<form method="POST">
  <input type="hidden" name="_csrf" value="{{ csrf }}">
  <input type="hidden" name="id" value="{{ program._id }}">

  <div class="input-field">
    <input name="title" id="title" type="text" class="validate" required value="{{ program.title }}">
    <label for="title">Title</label>
    <span class="helper-text" data-error="Enter Title"></span>
  </div>

  <div class="input-field">
    <input name="price" id="price" type="number" class="validate" required min="1" value="{{ program.price }}">
    <label for="price">Price</label>
    <span class="helper-text" data-error="Enter Price"></span>
  </div>

  <div class="input-field">
    <input name="img" id="img" type="text" class="validate" required value="{{ program.img }}">
    <label for="img">Image URL</label>
    <span class="helper-text" data-error="Enter Image URL"></span>
  </div>

  <button type="submit" class="btn btn-primary">Done</button>
</form>

<form action="/programs/remove" method="POST" class="remove-form">
  <input type="hidden" name="_csrf" value="{{ csrf }}">
  <input type="hidden" name="id" value="{{ program._id }}">
  <button type="submit" class="btn red">Remove program</button>
</form>
