<h1>My Orders</h1>
{{# if orders.length }}
{{# each orders }}
<div class="row">
  <div class="col s6 offset-s3">
    <div class="card">
      <div class="card-content">
        <span class="card-title"><strong>Order:</strong> #{{ _id }}</span>
        <p><strong>Date:</strong> <span class="date">{{ date }}</span></p>
        <p><em>{{ user.userId.name }}</em> {{ user.userId.email }}</p>
        <ol>
          {{# each programs }}
          <li>{{ program.title }} x <strong>{{ count }}</strong></li>
          {{/ each }}
        </ol>
        <hr>
        <p><strong>Total:</strong> <span class="price">{{ total }}</span></p>
      </div>
    </div>
  </div>
</div>
{{/ each }}
{{ else }}
<p>There are no orders yet</p>
{{/ if }}
